<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>staffleave</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddStaffServlet</display-name>
    <servlet-name>AdminAddStaffServlet</servlet-name>
    <servlet-class>AdminAddStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddStaffServlet</servlet-name>
    <url-pattern>/AdminAddStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffLoginServlet</display-name>
    <servlet-name>StaffLoginServlet</servlet-name>
    <servlet-class>StaffLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffLoginServlet</servlet-name>
    <url-pattern>/StaffLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>leaveAppliedmsg</display-name>
    <servlet-name>leaveAppliedmsg</servlet-name>
    <servlet-class>leaveAppliedmsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>leaveAppliedmsg</servlet-name>
    <url-pattern>/leaveAppliedmsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveAppliedServlet</display-name>
    <servlet-name>LeaveAppliedServlet</servlet-name>
    <servlet-class>LeaveAppliedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveAppliedServlet</servlet-name>
    <url-pattern>/LeaveAppliedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoordinatorLoginServlet</display-name>
    <servlet-name>CoordinatorLoginServlet</servlet-name>
    <servlet-class>CoordinatorLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoordinatorLoginServlet</servlet-name>
    <url-pattern>/CoordinatorLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>settingcoordinatorstatusServlet</display-name>
    <servlet-name>settingcoordinatorstatusServlet</servlet-name>
    <servlet-class>settingcoordinatorstatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>settingcoordinatorstatusServlet</servlet-name>
    <url-pattern>/settingcoordinatorstatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DirectorLoginServlet</display-name>
    <servlet-name>DirectorLoginServlet</servlet-name>
    <servlet-class>DirectorLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DirectorLoginServlet</servlet-name>
    <url-pattern>/DirectorLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DirectorrejectchangestatusServlet</display-name>
    <servlet-name>DirectorrejectchangestatusServlet</servlet-name>
    <servlet-class>DirectorrejectchangestatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DirectorrejectchangestatusServlet</servlet-name>
    <url-pattern>/DirectorrejectchangestatusServlet</url-pattern>
  </servlet-mapping>
</web-app>